body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #eee;
}

.form-login {
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}

.form-login .form-login-heading {
  padding-bottom: 15px;
  margin-bottom: 10px;
  text-align: center;
}

.form-login .form-control {
  position: relative;
  height: auto;
  padding: 10px;
}

.form-login .form-control:focus {
  z-index: 2;
}

#logo {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  margin: 0 auto;
  display: block;
}
