.row
  .col.s12
    .card.center
      .card-image
        .fixed-action-btn.horizontal.click-to-toggle
          a.btn-floating.btn-large.red
            i.material-icons menu
          ul
            li
              a.btn-floating.waves-effect.waves-light#account-import-button
                i.material-icons cloud_upload
            li
              a.btn-floating.waves-effect.waves-light#account-export-button
                i.material-icons cloud_download
            li
              a.btn-floating.waves-effect.waves-light#account-creation-button
                i.material-icons person_add
      .card-content
        h5.card-title Manage Accounts
        h6 Add, modify or delete students' accounts.
        .switch
          label
            | InActive
            input(id='usersSwitch', type='checkbox', onClick='toggleUsersSwitch()')
            span.lever
            | Active
      .card-action
        table.bordered
          thead
            tr
              th First Name
              th Last Name
              th User ID
              th Email
              th Action
          tbody
            each s in students
              tr
                td #{s.fname}
                td #{s.lname}
                td #{s.id}
                td #{s.email}
                td
                  button.btn.btn-default.edit-button(id='edit-' + s.id type='button' aria-label='Edit')
                    span.glyphicon.glyphicon-pencil(aria-hidden='true')
                  if (s.active)
                    button.btn.btn-default.deactivate-button(id='deactivate-' + s.id type='button' aria-label='Delete')
                      i.material-icons close
                  else
                    button.btn.btn-default.activate-button(id='activate-' + s.id type='button' aria-label='Delete')
                      i.material-icons check