.row
  .col.s12
    .card.center
      .card-image
        a.btn-floating.halfway-fab.waves-effect.waves-light.red.left#account-creation-back-button
          i.material-icons arrow_back
      .card-content
        h5.card-title Account Creation Form
        h6 Add a student account
      .card-action
        .row
          form.col.s12#userform
            .row
              .input-field.col.s6
                input#fname.validate(type='text' name='newfname' required autofocus)
                label(for='fname') First Name
              .input-field.col.s6
                input#lname.validate(type='text' name='newlname' required)
                label(for='lname') Last Name
            .row
              .input-field.col.s12
                input#userid.validate(type='text' name='newid' required)
                label(for='userid') Username
            .row
              .input-field.col.s12
                input#passwd.validate(type='password' name='newpassword' required)
                label(for='passwd') Password
            .row
              .input-field.col.s12
                input#email.validate(type='email' name='newemail' required)
                label(for='email') Email
            .row
              button.waves-effect.waves-light.btn#account-creation-submit-button(type='submit') Create
                i.material-icons.right send