extends layout

block styles
  link(rel='stylesheet' href='/lib/summernote/summernote.css')
  link(rel='stylesheet' href='/lib/datatables/jquery.dataTables.min.css')
  link(rel='stylesheet' href='/css/sidebar.css')
  link(rel='stylesheet' href='/css/admin.css')

block title
  title Quizzard - Admin

block content
  include navbar

  br
  .container
    .row
      .col.s12
        .row
          ul.tabs
            li.tab.col.s3
              a.noLineLink.active#option-questions(href='#')
                i.material-icons.tab-icon.hide-on-large-only list
                |
                .hide-on-med-and-down Manage Questions
            li.tab.col.s3
              a.noLineLink#option-accounts(href='#')
                i.material-icons.tab-icon.hide-on-large-only person
                |
                .hide-on-med-and-down Manage Accounts
            li.tab.col.s3
              a.noLineLink#option-stats(href='#')
                i.material-icons.tab-icon.hide-on-large-only show_chart
                |
                .hide-on-med-and-down View Statistics
            li.tab.col.s3
              a.noLineLink#option-settings(href='#')
                i.material-icons.tab-icon.hide-on-large-only settings
                |
                .hide-on-med-and-down Global Settings
  .container
    .row
      .col.s12
        #admin-content

block scripts
  script(src='/lib/summernote/summernote.min.js')
  script(src='/lib/datatables/jquery.dataTables.min.js')
  script(src='/js/common.js')
  script(src='/js/admin.js')
  script(src='/js/navbar.js')
