extends layout

block styles
  link(rel='stylesheet' href='/lib/summernote/summernote.css')
  link(rel='stylesheet' href='/lib/datatables/jquery.dataTables.min.css')
  link(rel='stylesheet' href='/css/sidebar.css')
  link(rel='stylesheet' href='/css/admin.css')

block title
  title Quizzard - Admin

block content
  include navbar

  br
  .container
    .row
      .col.s12
        .row
          ul.tabs
            li.tab.col.s3
              a.noLineLink.active#option-questions(href='#') Manage Questions
            li.tab.col.s3
              a.noLineLink#option-accounts(href='#') Manage Accounts
            li.tab.col.s3
              a.noLineLink#option-stats(href='#') View Statistics
            li.tab.col.s3
              a.noLineLink#option-settings(href='#') Global Settings
  .container
    .row
      .col.s12
        #admin-content

block scripts
  script(src='/lib/summernote/summernote.min.js')
  script(src='/lib/datatables/jquery.dataTables.min.js')
  script(src='/js/common.js')
  script(src='/js/admin.js')
  script(src='/js/navbar.js')
