extends layout

block styles
  link(rel='stylesheet' href='/css/analytics.css')

block title
  title Quizzard - Analytics

block content
  include navbar

  br
  if (isAdmin())
    .container
      .row
        .col.s12
          .row
            ul.tabs
              li.tab.col.s6
                a.noLineLink.active#option-student(href='#') Student Analytics
              li.tab.col.s6
                a.noLineLink#option-class(href='#') Class Analytics
  .container
    .row
      .col.s12
        .card#studentSelector
          if (isAdmin())
            .container
              .row
                .col.s12
                  .row
                    .input-field.col.s11
                      input#autocomplete-input.autocomplete(type='text')
                      label(for='autocomplete-input') Select a student by ID
                    .input-field.col.s1
                      i.material-icons.cursor-pointer(onClick=" $('#autocomplete-input').val(''); displayStudentStatistics(null);") close
    .row
      .col.s12
        include student-analytics
        include class-analytics

block scripts
  script(src='/lib/charts/Chart.min.js')
  script(src='/js/common.js')
  script(src='/js/analytics.js')
  script(src='/js/navbar.js')
