extends layout

block styles
  link(rel='stylesheet' href='/css/icons.css')
  link(rel='stylesheet' href='/css/navbar.css')
  link(rel='stylesheet' href='/css/analytics.css')
  link(rel='stylesheet' href='/lib/materialize/css/materialize.min.css')

block title
  title Quizzard - Analytics

block content
  include navbar

  br
  if (isAdmin())
    .container
      .row
        .col.s12
          .row
            ul.tabs
              li.tab.col.s6
                a.noLineLink.active#option-student(href='#') Student Analytics
              li.tab.col.s6
                a.noLineLink#option-class(href='#') Class Analytics
  .container
    .row
      .col.s12
        .card.white.padding-left-10.padding-right-10
          include student-analytics
          include class-analytics



block scripts
  script(src='/lib/jquery/jquery-3.1.1.min.js')
  script(src='/lib/bootstrap/js/bootstrap.min.js')
  script(src='/lib/materialize/js/materialize.min.js')
  script(src='/lib/charts/Chart.min.js')
  script(src='/js/common.js')
  script(src='/js/analytics.js')
  script(src='/js/navbar.js')
