.hidden#class-analytics-card
  .card.white.padding-left-10.padding-right-10
    .row
      .row
        .col.s12
          h5.header-style#classAnalyticsHeader &nbsp Questions Answered Analytics
      .row.padding-left-10.padding-right-10
        .col.s12.m3
          .card#classAnsweredCardI
            .card-content.cyan-card.white-text
              .col.s7.m7
                i.material-icons.background-round.mt-5 playlist_add_check
                p Average Questions Answered
              .col.s5.m5.right-align.padding-right-10
                h5#classAnsweredI
        .col.s12.m9
          h5 Class Questions Answered
          .card.chart.padding-top-10.padding-left-10
            canvas#classAnsweredOverTime

  .card.white.padding-left-10.padding-right-10
    .row
      .row
        .col.s12
          h5.header-style#classAnalyticsHeader &nbsp Accuracy Analytics
      .row.padding-left-10.padding-right-10
        .col.s12.m3
          .card#classAccuracyCardI
            .card-content.teal-card.white-text
              .col.s7.m7
                i.material-icons.background-round.mt-5 gps_fixed
                p Average Accuracy
              .col.s5.m5.right-align.padding-right-10
                h5#classAccuracyI
        .col.s12.m9
          h5 Class Accuracy
          .card.chart.padding-top-10.padding-left-10
            canvas#classAccuracyOverTime

  .card.white.padding-left-10.padding-right-10
    .row
      .row
        .col.s12
          h5.header-style#classAnalyticsHeader &nbsp Points Analytics
      .row.padding-left-10.padding-right-10
        .col.s12.m3
          .card#classPointsCardI
            .card-content.orange-card.white-text
              .col.s7.m7
                i.material-icons.background-round.mt-5 bubble_chart
                p Average Points
              .col.s5.m5.right-align.padding-right-10
                  h5#classPointsI
        .col.s12.m9
          h5 Class Points
          .card.chart.padding-top-10.padding-left-10
            canvas#classPointsOverTime

  .card.white.padding-left-10.padding-right-10
    .row
      .row
        .col.s12
          h5.header-style#classAnalyticsHeader &nbsp Points Per Attempt Analytics
      .row.padding-left-10.padding-right-10
        .col.s12.m3
          .card#classPointsCardI
            .card-content.purple-card.white-text
              .col.s7.m7
                i.material-icons.background-round.mt-5 bubble_chart
                p Average Points Per Attempt
              .col.s5.m5.right-align.padding-right-10
                  h5#classPointsPerAttemptI
        .col.s12.m9
          h5 Class Points Per Attempt
          .card.chart.padding-top-10.padding-left-10
            canvas#classPointsPerAttemptOverTime

  .card.white.padding-left-10.padding-right-10
    .row
      .row
        .col.s12
          h5.header-style#classAnalyticsHeader &nbsp Overall Points Analytics
      .row.padding-left-10.padding-right-10
        .col.s12.m3
          .card#classPointsCardI
            .card-content.lime-card.white-text
              .col.s7.m7
                i.material-icons.background-round.mt-5 bubble_chart
                p Average Overall Points
              .col.s5.m5.right-align.padding-right-10
                  h5#classOverallI
        .col.s12.m9
          h5 Class Overall Points
          .card.chart.padding-top-10.padding-left-10
            canvas#classOverallOverTime

  .card.white.padding-left-10.padding-right-10
    .row
      .row
        .col.s12
          h5.header-style#studentAnalyticsHeader &nbsp Question Type Analytics
      .col.s12.m6
        h5 Class Question Type Points
        .card.radar.padding-top-10.padding-left-10
          canvas#classPointsPerTypeVsClass
      .col.s12.m6
        h5 Class Question Type Accuracy
        .card.radar.padding-top-10.padding-left-10
          canvas#classAccuracyPerTypeVsClass

  .card.white.padding-left-10.padding-right-10
    .row
      .row
        .col.s12
          h5.header-style#studentAnalyticsHeader &nbsp Question Topic Analytics
      .col.s12.m6
        h5 Class Question Topic Points
        .card.radar.padding-top-10.padding-left-10
          canvas#classPointsPerTopicVsClass
      .col.s12.m6
        h5 Class Question Topic Accuracy
        .card.radar.padding-top-10.padding-left-10
          canvas#classAccuracyPerTopicVsClass
