.row#class-analytics-card
  .card
    .card-content.gradient-45deg-light-blue-cyan.min-height-100.white-text
      .padding-4
        .col.s7.m7
          i.material-icons.background-round.mt-5 add_shopping_cart
          p Orders
        .col.s5.m5.right-align
          h5.mb-0 690
          p.no-margin New
          p 6,00,00
