#class-analytics-card
  .card.white.padding-left-10.padding-right-10
    .row.hidden
      .row
        .col.s12
          h5.header-style#classAnalyticsHeader &nbsp Class Analytics
      .row.padding-left-10.padding-right-10
        .col.s6.m3
          .card#classAnsweredCardI
            .card-content.gradient-45deg-light-blue-cyan.white-text
              .col.s7.m7
                i.material-icons.background-round.mt-5 playlist_add_check
                p Questions Answered
              .col.s5.m5.right-align.padding-right-10
                h5#classAnsweredI
        .col.s6.m3
          .card#classAccuracyCardI
            .card-content.gradient-45deg-red-pink.white-text
              .col.s7.m7
                i.material-icons.background-round.mt-5 gps_fixed
                p Accuracy
              .col.s5.m5.right-align.padding-right-10
                h5#classAccuracyI
        .col.s6.m3
          .card#classPointsCardI
            .card-content.gradient-45deg-amber-amber.white-text
              .col.s7.m7
                i.material-icons.background-round.mt-5 bubble_chart
                p Total Points
              .col.s5.m5.right-align.padding-right-10
                  h5#classPointsI
        .col.s6.m3
          .card#classRatingCardI
            .card-content.gradient-45deg-green-teal.white-text
              .col.s7.m7
                i.material-icons.background-round star
                p Average Rating
              .col.s5.m5.right-align.padding-right-10
                h5#classRatingI
