block style
  link(rel='stylesheet' href='/css/feedback-popup.css')

block content
  #feedback.modal
    .modal-content
      h3 Feedback
      
      i.modal-action.modal-close.material-icons#closeFeedback(onclick='cancelling=true;') close

      if user.type !== 0
        ul.collapsible(data-collapsible="accordion")
          li
            .collapsible-header
              i.material-icons school
              | Course Feedback
            #feedbackBody.collapsible-body
              .row
                .col.s12
                  .row
                    #subjectBox.input-field.col.s12
                      i.material-icons.prefix label_outline
                      input#subject(placeholder='Subject', type='text')
                      label(for='subject') Subject
                  .row
                    #messageBox.input-field.col.s12
                      i.material-icons.prefix mode_edit
                      textarea#feedbackArea.materialize-textarea(placeholder='Message', type='text')
                      label(for='feedbackArea') Message
                    button.modal-action.modal-close.btn.btn-info Submit
          li
            .collapsible-header
              i.material-icons filter_drama
              | Website Feedback
            .collapsible-body
              p Please visit the following page to submit your feedback:
              a(href='https://quizzard-edu.github.io/quizzard/feedback.html', target='_blank') Quizzard Feedback
        
      else
        p Please visit the following page to submit your feedback:
        a(href='https://quizzard-edu.github.io/quizzard/feedback.html', target='_blank') Quizzard Feedback

block scripts
  script(src='/js/feedback.js')