extends layout

block styles
  link(rel='stylesheet' href='/css/home.css')
  link(rel='stylesheet' href='/css/leaderboard-table.css')
  link(rel='stylesheet' href='/css/sidebar.css')

block title
  title Quizzard - Home

block content
  include navbar

  br
  .container
    .row
      .col.s12
        include home-sidebar
        .row
          a.right.dropdown-button.btn(href='#', data-activates='dropdown1') Sort By:
          ul#dropdown1.dropdown-content
            li
              a(href='#!') Topic
            li.divider
            li
              a(href='#!') Type
            li.divider
            li
              a(href='#!') Creation Date
            li.divider
            li
              a(href='#!') Attemtps
          ul.tabs
            li.tab.col.s6
              a.noLineLink.active(href='#')#qlist-unanswered Unanswered
            li.tab.col.s6
              a.noLineLink(href='#')#qlist-answered Answered
          .question-list
            include questionlist
      //-
        .col.s12.m4
          include home-sidebar

block scripts
  script(src='/js/common.js')
  script(src='/js/home.js')
  script(src='/js/navbar.js')