extends layout

block styles
  link(rel='stylesheet' href='/css/home.css')
  link(rel='stylesheet' href='/css/leaderboard-table.css')
  link(rel='stylesheet' href='/css/sidebar.css')
  link(rel='stylesheet' href='/css/navbar.css')

block title
  title Quizzard - Home

block content
  include navbar

  .container
    .row
      .col-md-8
        .row
          .btn-group.col-md-10(data-toggle='buttons')
            label.btn.btn-default.active#qlist-unanswered.
              <input type="radio" name="qlist-type" checked> Unanswered
            label.btn.btn-default#qlist-answered.
              <input type="radio" name="qlist-type"> Answered
          .dropdown.col-md-2
            button.btn.btn-default.dropdown-toggle#sort(type='button' data-toggle='dropdown') Sort by
              span.caret
            ul.dropdown-menu
              li
                a#sort-topic(href='#') Topic
              li
                a#sort-point(href='#') Points
        .question-list
          include questionlist
      .sidebar.col-md-4
        include home-sidebar

block scripts
  script(src='/lib/jquery/jquery-3.1.1.min.js')
  script(src='/lib/bootstrap/js/bootstrap.min.js')
  script(src='/js/home.js')
  script(src='/js/navbar.js')
