extends layout

block styles
  link(rel='stylesheet' href='/css/icons.css')
  link(rel='stylesheet' href='/css/home.css')
  link(rel='stylesheet' href='/css/leaderboard-table.css')
  link(rel='stylesheet' href='/css/sidebar.css')
  link(rel='stylesheet' href='/css/navbar.css')
  link(rel='stylesheet' href='/lib/materialize/css/materialize.min.css')

block title
  title Quizzard - Home

block content
  include navbar

  br
  .container
    .row
      .col.s12.m8
        .row
          ul.tabs
            li.tab.col.s6
              a.noLineLink.active(href='#test1')#qlist-unanswered Unanswered
            li.tab.col.s6
              a.noLineLink(href='#test2')#qlist-answered Answered
          .question-list
            include questionlist
      .col.s12.m4
        include home-sidebar

block scripts
  script(src='/lib/jquery/jquery-3.1.1.min.js')
  script(src='/lib/bootstrap/js/bootstrap.min.js')
  script(src='/lib/materialize/js/materialize.min.js')
  script(src='/js/home.js')
  script(src='/js/navbar.js')
