extends layout

block styles
  link(rel='stylesheet' href='/css/home.css')

block title
  title Quizzard - Home

block content
  .container
    .row
      .col-md-8
        .dropdown
          button.btn.btn-default.dropdown-toggle#sort(type='button' data-toggle='dropdown') Sort by
            span.caret
          ul.dropdown-menu
            li
              a#sort-topic(href='#') Topic
            li
              a#sort-point(href='#') Points
        .question-list
          include questionlist
      .sidebar.col-md-4
        h4.sidebar-item#name #{user.fname} #{user.lname}
        h3.sidebar-item#points #{user.points}

block scripts
  script(src='/lib/jquery/jquery-3.1.1.min.js')
  script(src='/lib/bootstrap/js/bootstrap.min.js')
  script(src='/js/home.js')
