extends layout

block styles
  link(rel='stylesheet' href='/css/home.css')
  link(rel='stylesheet' href='/css/leaderboard-table.css')
  link(rel='stylesheet' href='/css/sidebar.css')

block title
  title Quizzard - Home

block content
  include navbar

  br
  .container
    .row
      .col.s12
        include home-sidebar
        .row
          .right
            a.dropdown-button.btn#sortButton(href='#', data-activates='dropdown') Sort By
            ul#dropdown.dropdown-content
              li
                a#sort-title(href='#!') Title
              li.divider
              li
                a#sort-topic(href='#!') Topic
              li.divider
              li
                a#sort-type(href='#!') Type
              li.divider
              li
                a#sort-date(href='#!') Date
              li.divider
              li
                a#sort-attempt(href='#!') Attemtps
            .switch
              label
                | Ascending
                input(id='order' type='checkbox', checked=true, onClick='sortQuestionsList()')
                span.lever
                | Decending
          ul.tabs
            li.tab.col.s6
              a.noLineLink.active(href='#')#qlist-unanswered Unanswered
            li.tab.col.s6
              a.noLineLink(href='#')#qlist-answered Answered
          ul.collection.question-list
            #questionsList

      //-
        .col.s12.m4
          include home-sidebar

block scripts
  script(src='/js/common.js')
  script(src='/js/home.js')
  script(src='/js/navbar.js')