extends layout

block styles
  link(rel='stylesheet' href='/css/home.css')

block title
  title Quizzard - Home

block content
  .container
    .row
      include questionlist
      .sidebar.col-md-4
        h4.sidebar-item#name #{user.fname} #{user.lname}
        h3.sidebar-item#points #{user.points}

block scripts
  script(src='/lib/jquery/jquery-3.1.1.min.js')
  script(src='/lib/bootstrap/js/bootstrap.min.js')
  script(src='/js/home.js')
