doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    // link(rel='icon' href='../../favicon.ico')
    link(rel='stylesheet' href='/lib/animate/animate.css')
    link(rel='stylesheet' href='/lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/quizzard.css')
    link(rel='stylesheet' href='/lib/materialize/css/materialize.min.css')
    link(rel='stylesheet' href='/css/navbar.css')
    link(rel='stylesheet' href='/css/icons.css')
    link(rel='stylesheet' href='/lib/sweetalert/sweetalert.css')

    script(src='/lib/jquery/jquery-3.1.1.min.js')
    script(src='/lib/bootstrap/js/bootstrap.min.js')
    script(src='/lib/sweetalert/sweetalert.min.js')
    script(src='/lib/materialize/js/materialize.min.js')

    block styles
    block title
      title Quizzard

  body
    block content
    block scripts
