.podium
  p
    | Top Score : 
    span.score#topScore
  ol
    li.gold
      img#first(alt='First Place', src='')
      span.score 1st
    li.silver
      img#second(alt='Second Place', src='')
      span.score 2nd
    li.bronze
      img#third(alt='Third Place', src='')
      span.score 3rd


table.bordered
  thead
    tr
      th.center Rank
      th.center Username
      th.center#criteriaName
  tbody#leaderboardBody
