extends layout

block styles
  link(rel='stylesheet' href='/css/leaderboard.css')
  link(rel='stylesheet' href='/css/leaderboard-table.css')
  link(rel='stylesheet' href='/css/sidebar.css')

block title
  title Quizzard - Leaderboard

block content
  include navbar

  br
  .container
    .row
      .col.s12
        .card.center
          .card-content
            h4.center Leaderboard
          .card-action
            .leaderboard-content

block scripts
  script(src='/js/leaderboard.js')
  script(src='/js/navbar.js')
