extends layout

block styles
  link(rel='stylesheet' href='/css/icons.css')
  link(rel='stylesheet' href='/css/leaderboard.css')
  link(rel='stylesheet' href='/css/leaderboard-table.css')
  link(rel='stylesheet' href='/css/sidebar.css')
  link(rel='stylesheet' href='/css/navbar.css')
  link(rel='stylesheet' href='/lib/materialize/css/materialize.min.css')

block title
  title Quizzard - Leaderboard

block content
  include navbar

  br
  .container
    .row
      .col.s12
        .row
          ul.tabs
            li.tab.col.s3
              a.noLineLink.active#option-overall(href='#') Overall Leaderboard
            li.tab.col.s3
              a.noLineLink#option-points(href='#') Total Points Earned
            li.tab.col.s3
              h6 Accuracy
            li.tab.col.s3
              h6 Points Per Attempt
  .container
    .row
      .col.s12
        .card.white
          .leaderboard-content

block scripts
  script(src='/lib/jquery/jquery-3.1.1.min.js')
  script(src='/lib/bootstrap/js/bootstrap.min.js')
  script(src='/lib/materialize/js/materialize.min.js')
  script(src='/js/leaderboard.js')
  script(src='/js/navbar.js')
