.podium
  p
    | Top Score : 
    span.score#topScore
  ol
    li.gold
      img(alt='first', src='img/logo.png')
      span.score 1st
    li.silver
      img(alt='second', src='img/logo.png')
      span.score 2nd
    li.bronze
      img(alt='third', src='img/logo.png')
      span.score 3rd

table.bordered
  thead
    tr
      th.center Rank
      th.center Username
      th.center#criteriaName
  tbody#leaderboardBody
