extends layout

block styles
  link(rel='stylesheet' href='/css/icons.css')
  link(rel='stylesheet' href='/css/login.css')
  link(rel='stylesheet' href='/lib/materialize/css/materialize.min.css')

block title
  title Quizzard - Login

block content
  .container
    img.hide-on-med-and-down#logo(src='img/logo.png' style="text-align:center; padding-top:50px;")
    form.form-login#login
      div.hide-on-large-only(style="text-align:center; padding-top:15px;")
        span.col.s1(style="display:inline-block; vertical-align:middle;")
          img#logo(style='height:100px;' src='img/logo.png')
        span.col.s2(style="display:inline-block;")
          h2.form-login-heading uizzard
      p#invalid
      .row
        .input-field.col.s12
          i.material-icons.prefix person
          input.form-control#user(type='text' name='user' placeholder='Username' required autofocus)
          label.sr-only(for='user') Username
      .row
        .input-field.col.s12
          i.material-icons.prefix keyboard
          input.form-control#passwd(type='password' name='passwd' placeholder='Password' required)
          label.sr-only(for='passwd') Password
      button(class='btn btn-lg btn-primary btn-block' type='submit') Sign in

block scripts
  script(src='/lib/jquery/jquery-3.1.1.min.js')
  script(src='/lib/materialize/js/materialize.min.js')
  script(src='/js/common.js')
  script(src='/js/login.js')
