.form-group

	each index in [1,2,3,4]
		p
			| Is Correct: 
			input(type='radio', name='radbutton', value=index, required)
			input.form-control(type='text', name='mcans'+index, placeholder='Enter Answer Here', required, style='float:left;')
			button(onclick='$(this).parent().remove()') delete

#addMoreAnswersButton
	button(onclick="addMCAnswers('qAnswer')") add answer
