block style
  link(rel='stylesheet' href='/css/modal-alert.css')

block content
  #modalAlert.modal
    .modal-content

      .checkmark
        svg#Layer_1(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewbox="0 0 161.2 161.2", enable-background="new 0 0 161.2 161.2", xml:space="preserve")
          circle.path(fill="none", stroke="#94C678", stroke-opacity="0.7", stroke-width="4", stroke-miterlimit="10", cx="80.6", cy="80.6", r="62.1")
          polyline.path(fill="none", stroke="#94C678", stroke-width="6", stroke-linecap="round", stroke-miterlimit="10", points="113,52.8 74.1,108.4 48.2,86.4 ")
          circle.spin(fill="none", stroke="#A5DC86", stroke-opacity="0.5", stroke-width="4", stroke-miterlimit="10", stroke-dasharray="12.2175,12.2175", cx="80.6", cy="80.6", r="73.9")

      h3 Correct
      if !answered
        p.center#modalAlertMsg
        include rating
      else
        p Congratulations, you got the question right!    
      button.modal-action.modal-close.btn.btn-info Ok