div.modal#modalAlert(style="max-height: 36%; max-width: 42%")
  div.modal-content(style="height: 78%;")
    p.center#modalAlertMsg
    include rating
  div.modal-footer
    a.modal-action.modal-close.waves-effect.waves-green.btn-flat Ok