.navbar-fixed
  nav
    .nav-wrapper
      a.navbarLink.brand-logo.center(href='#!') Quizzard
      a.navbarLink.button-collapse(href='#', data-activates='mobile')
        i.material-icons menu
      ul.left.hide-on-med-and-down
        if user.type === 0
          li#nav-home
            a.navbarLink(href='/admin') Administration
        else
          li#nav-home
            a.navbarLink(href='/home') Questions
        li#nav-leaderboard
          a.navbarLink(href='/leaderboard') Leaderboard
        li#nav-analytics
          a.navbarLink(href='/analytics') Analytics
        li#nav-about
          a.navbarLink(href='/about') About
      ul.right.hide-on-med-and-down
        if user.type === 0
          li#nav-settings
            a.navbarLink(href='/settings') Settings
        li#nav-profile
          a.navbarLink(href='/profile') Profile
        li#nav-logout
          a.navbarLink(href='/logout') Logout
ul#mobile.side-nav
  if user.type === 0
    li#nav-home
      a.navbarLinkHidden(href='/admin') Administration
  else
    li#nav-home
      a.navbarLinkHidden(href='/home') Questions
  li#nav-leaderboard
    a.navbarLinkHidden(href='/leaderboard') Leaderboard
  li#nav-analytics
    a.navbarLinkHidden(href='/analytics') Analytics
  li#nav-about
    a.navbarLinkHidden(href='/about') About
  if user.type === 0
    li#nav-settings
      a.navbarLink(href='/settings') Settings
  li#nav-profile
    a.navbarLinkHidden(href='/profile') Profile
  li#nav-logout
    a.navbarLinkHidden(href='/logout') Logout
