ul.collection
  each q in questions
    li.collection-item.avatar
      i.material-icons.circle #{getQuestionIcon(q.type)}
      span.title #{q.title}
      p
        | #{q.topic}
        br
        | #{q.points}
      a.secondary-content.question-block.noLineLink(href='/question?_id='+q._id, style='cursor: pointer;')
        i.material-icons send
        p.text-center.title