li.collection-item.avatar.disable-select.question-list-hover(onClick='goToQuestion(this.id)')
  i.material-icons.circle#icon
  h6#title
  .hide-on-large-only
    p#topic
    p#type
    p#time
    p#attempts
  .hide-on-med-and-down
    p.qInfoLeft#topic
    p.qInfoLeft#type
    p.qInfoRight#time
    br
    p.qInfoRight#attempts
  a.secondary-content.question-block.noLineLink(style='cursor: pointer;')
    i.material-icons.small.firstFire.secondFire whatshot
    p.text-center.title
