block styles
  link(rel='stylesheet' href='/css/admin.css')
  link(rel='stylesheet' href='/css/rating.css')

.row
  .col.s12
    .card.center
      .card-image
        a.btn-floating.halfway-fab.waves-effect.waves-light.red.left#question-creation-back-button
          i.material-icons arrow_back
      .card-content
        h5.card-title Question Creation Form
        h6 Create a new question
      .card-action
        .row
          .input-field.col.s12
            select#qType(name='qType' )
              option(selected disabled) -- Select Question Type --
              each type, i in questionType
                option(value=type.value) #{type.name}
            label Choose a Question Type:

          form.form-user#questionform(style='display:none')
            .col-md-4
              .form-group
                input.form-control#visible(type='checkbox' name='visible' checked=false value=false)
                label(for='visible') Visible
              .form-group
                label(for='qtitle') Title
                input.form-control#qtitle(type='text' name='title' placeholder='Enter title' required autofocus )
              .form-group
                label(for='qtopic') Topic
                .input-field
                  input.form-control#qtopic.autocomplete(type='text' name='topic' placeholder='Enter Topic' autocomplete='off' required)
              .form-group
                .row
                  .col.s6
                    label(for='qminpoints') Minimum Points
                    input.form-control#qminpoints(type='number' name='minpoints' placeholder='Min points'  min="0" required)
                  .col.s6
                    label(for='qmaxpoints') Maximum Points
                    input.form-control#qmaxpoints(type='number' name='maxpoints' placeholder='Max points'  min="0" required)
              .form-group
                label(for='qhint') Hint
                input.form-control#qhint(type='text' name='hint' placeholder='Enter Hint')
              .form-group
                label(for='qrating') Question Difficulty
                include rating
            .col-md-8
              .form-group
                label(for='qtext') Question Body
                .summernote#qtext
              #qAnswer
              .form-group
                label(for='successmsg') Follow up message
                input.form-control#successmsg(type='text' name='successMessage' placeholder='Enter message' aria-describedby='success-msg-help')
                p.form-text.text-muted#success-msg-help
                  | This is a message that will be displayed to the user after they
                  | successfully answer a question. It can be used to provide additional
                  | information on the topic.
                button(class='btn btn-lg btn-primary btn-block' type='submit') Create
