table.table
  thead
    tr
      th Visible
      th ID
      th Title
      th Topic
      th Type
      th Action
  tbody
    each q in questions
      tr
        td
          input.checked(id='checked-' + q.id type='checkbox' checked=q.visible)
        td #{q.id}
        td #{q.title}
        td #{q.topic}
        if q.type == 0
          td Regular
        else
          td Multiple Choice
        td
          button.btn.btn-default.view-button(id='view-' + q.id type='button' aria-label='View')
            span.glyphicon.glyphicon-eye-open(aria-hidden='true')
          button.btn.btn-default.edit-button(id='edit-' + q.id type='button' aria-label='Edit')
            span.glyphicon.glyphicon-pencil(aria-hidden='true')
          button.btn.btn-default.delete-button(id='delete-' + q.id type='button' aria-label='Delete')
            span.glyphicon.glyphicon-remove(aria-hidden='true')
