block styles
  link(rel='stylesheet' href='/css/rating.css')

.rating
  each _, val in Array(5)
    i.medium.material-icons(id=val onmouseover='highlight(' + val + ')' onmouseout='highlight(rating)' onclick='setRating(' + (val + 1) + ')') star_border

block scripts
  script(src='/js/rating.js')
