ul.collapsible.popout(data-collapsible='expandable')
  include settings/general
  include settings/student
  include settings/question
  include settings/discussion

.row.center
  .container
    button.waves-effect.waves-light.btn.grey.col.s12.m4.customSettingsButton(type='button', onclick='resetDefault()') Default
      i.material-icons.right replay
    button.waves-effect.waves-light.btn.red.col.s12.m4.customSettingsButton(type='submit', onclick='cancel()') Cancel
      i.material-icons.right close
    button.waves-effect.waves-light.btn.col.s12.m4.customSettingsButton(type='submit', onclick='save()') Save
      i.material-icons.right save

block scripts
  script(src='/js/settings.js')
