ul.collapsible.popout(data-collapsible='expandable')
  include settings/general
  include settings/student
  include settings/question
  include settings/discussion

block scripts
  script(src='/js/settings.js')
