.row#student-analytics-card
  if (isAdmin())
    .row
        #the-basics
          input.typeahead(type='text', placeholder='States of USA')
  .col.s3
    canvas#questionsAnsweredVsClass
  .col.s3
    canvas#accuracyVsClass
  .col.s3
    canvas#pointsVsClass
  .col.s3
    canvas#ratingVsClass
