.container.hidden#student-analytics-card
  if (isAdmin())
    .row
      .col.s12
        .card#studentSelector
          .container
            .row
              .col.s12
                .row
                  .input-field.col.s11
                    input#autocomplete-input.autocomplete(type='text')
                    label(for='autocomplete-input') Select a student by ID
                  .input-field.col.s1
                    i.material-icons.cursor-pointer(onClick=" $('#autocomplete-input').val(''); initAutoComplete();") close
  .hidden#student-analytics-data-cards
    .card.white.padding-left-10.padding-right-10
      .row
        .row
          .col.s12
            h5.header-style#studentAnalyticsHeader &nbsp Questions Answered Analytics
        .row.padding-left-10.padding-right-10
          .col.s12.m12
            h5 Your Questions Answered VS. Class Questions Answered
            .card.chart
              a.btn-floating.halfway-fab.waves-effect.waves-light.blue.right.activator
                i.material-icons.cyanO filter_list
              canvas#correctAttemptsOverTime
              .card-reveal
                .card-title
                  i.material-icons.right close
                #correctAttemptsOverTimeTable
        .row.padding-left-10.padding-right-10
          .col.s12.m3
            .card#studentAnsweredCard
              .card-content.cyan-card.white-text
                .col.s7.m7
                  i.material-icons.background-round.mt-5 playlist_add_check
                  p Your Questions Answered
                .col.s5.m5.right-align.padding-right-10
                  h5#studentAnswered
            .card#classAnsweredCard
              .card-content.cyan-card.white-text
                .col.s7.m7
                  i.material-icons.background-round.mt-5 playlist_add_check
                  p Class Questions Answered
                .col.s5.m5.right-align.padding-right-10
                  h5#classAnswered
          .col.s12.m9
            h5 Your Questions Answered Ranking
            .card.chart.padding-top-10.padding-left-10
              a.btn-floating.halfway-fab.waves-effect.waves-light.blue.right.activator
                i.material-icons.cyanO filter_list
              canvas#correctAttemptRankOverTime
              .card-reveal
                .card-title
                  i.material-icons.right close
                #correctAttemptRankOverTimeTable

    .card.white.padding-left-10.padding-right-10
      .row
        .row
          .col.s12
            h5.header-style#studentAnalyticsHeader &nbsp Accuracy Analytics
        .row.padding-left-10.padding-right-10
          .col.s12.m12
            h5 Your Accuracy VS. Class Accuracy
            .card.chart
              a.btn-floating.halfway-fab.waves-effect.waves-light.blue.right.activator
                i.material-icons.tealO filter_list
              canvas#accuracyOverTime
              .card-reveal
                .card-title
                  i.material-icons.right close
                #accuracyOverTimeTable
        .row.padding-left-10.padding-right-10
          .col.s12.m3
            .card#studentAccuracyCard
              .card-content.teal-card.white-text
                .col.s7.m7
                  i.material-icons.background-round.mt-5 gps_fixed
                  p Your Accuracy
                .col.s5.m5.right-align.padding-right-10
                  h5#studentAccuracy
            .card#classAccuracyCard
              .card-content.teal-card.white-text
                .col.s7.m7
                  i.material-icons.background-round.mt-5 gps_fixed
                  p Class Accuracy
                .col.s5.m5.right-align.padding-right-10
                  h5#classAccuracy
          .col.s12.m9
            h5 Your Accuracy Ranking
            .card.chart.padding-top-10.padding-left-10
              a.btn-floating.halfway-fab.waves-effect.waves-light.blue.right.activator
                i.material-icons.tealO filter_list
              canvas#accuracyRankOverTime
              .card-reveal
                .card-title
                  i.material-icons.right close
                #accuracyRankOverTimeTable

    .card.white.padding-left-10.padding-right-10
      .row
        .row
          .col.s12
            h5.header-style#studentAnalyticsHeader &nbsp Points Analytics
        .row.padding-left-10.padding-right-10
          .col.s12.m12
            h5 Your Points VS. Class Points
            .card.chart
              a.btn-floating.halfway-fab.waves-effect.waves-light.blue.right.activator
                i.material-icons.orangeO filter_list
              canvas#pointsOverTime
              .card-reveal
                .card-title
                  i.material-icons.right close
                #pointsOverTimeTable
        .row.padding-left-10.padding-right-10
          .col.s12.m3
            .card#studentPointsCard
              .card-content.orange-card.white-text
                .col.s7.m7
                  i.material-icons.background-round.mt-5 bubble_chart
                  p Your Points
                .col.s5.m5.right-align.padding-right-10
                    h5#studentPoints
            .card#classPointsCard
              .card-content.orange-card.white-text
                .col.s7.m7
                  i.material-icons.background-round.mt-5 bubble_chart
                  p Class Points
                .col.s5.m5.right-align.padding-right-10
                    h5#classPoints
          .col.s12.m9
            h5 Your Points Ranking
            .card.chart.padding-top-10.padding-left-10
              a.btn-floating.halfway-fab.waves-effect.waves-light.blue.right.activator
                i.material-icons.orangeO filter_list
              canvas#pointsRankOverTime
              .card-reveal
                .card-title
                  i.material-icons.right close
                #pointsRankOverTimeTable

    .card.white.padding-left-10.padding-right-10
      .row
        .row
          .col.s12
            h5.header-style#studentAnalyticsHeader &nbsp Points Per Attempt Analytics
        .row.padding-left-10.padding-right-10
          .col.s12.m12
            h5 Your Points Per Attempt VS. Class Points Per Attempt
            .card.chart
              a.btn-floating.halfway-fab.waves-effect.waves-light.blue.right.activator
                i.material-icons.purpleO filter_list
              canvas#pointsPerAttemptsOverTime
              .card-reveal
                .card-title
                  i.material-icons.right close
                #pointsPerAttemptsOverTimeTable
        .row.padding-left-10.padding-right-10
          .col.s12.m3
            .card#studentPointsCard
              .card-content.purple-card.white-text
                .col.s7.m7
                  i.material-icons.background-round.mt-5 bubble_chart
                  p Your Points/Attempt
                .col.s5.m5.right-align.padding-right-10
                    h5#studentperAttempt
            .card#classPointsCard
              .card-content.purple-card.white-text
                .col.s7.m7
                  i.material-icons.background-round.mt-5 bubble_chart
                  p Class Points/Attempt
                .col.s5.m5.right-align.padding-right-10
                    h5#classPerAttempt
          .col.s12.m9
            h5 Your Points Per Attempt Ranking
            .card.chart.padding-top-10.padding-left-10
              a.btn-floating.halfway-fab.waves-effect.waves-light.blue.right.activator
                i.material-icons.purpleO filter_list
              canvas#pointsPerAttemptRankOverTime
              .card-reveal
                .card-title
                  i.material-icons.right close
                #pointsPerAttemptRankOverTimeTable

    .card.white.padding-left-10.padding-right-10
      .row
        .row
          .col.s12
            h5.header-style#studentAnalyticsHeader &nbsp Overall Score Analytics
        .row.padding-left-10.padding-right-10
          .col.s12.m12
            h5 Your Overall Score VS. Class Overall Score
            .card.chart
              a.btn-floating.halfway-fab.waves-effect.waves-light.blue.right.activator
                i.material-icons.limeO filter_list
              canvas#overallOverTime
              .card-reveal
                .card-title
                  i.material-icons.right close
                #overallOverTimeTable
        .row.padding-left-10.padding-right-10
          .col.s12.m3
            .card#studentPointsCard
              .card-content.lime-card.white-text
                .col.s7.m7
                  i.material-icons.background-round.mt-5 bubble_chart
                  p Your Overall Score
                .col.s5.m5.right-align.padding-right-10
                    h5#studentOverall
            .card#classPointsCard
              .card-content.lime-card.white-text
                .col.s7.m7
                  i.material-icons.background-round.mt-5 bubble_chart
                  p Class Overall Score
                .col.s5.m5.right-align.padding-right-10
                    h5#classOverall
          .col.s12.m9
            h5 Your Overall Score Ranking
            .card.chart.padding-top-10.padding-left-10
              a.btn-floating.halfway-fab.waves-effect.waves-light.blue.right.activator
                i.material-icons.limeO filter_list
              canvas#overallRankOverTime
              .card-reveal
                .card-title
                  i.material-icons.right close
                #overallRankOverTimeTable

    .card.white.padding-left-10.padding-right-10
      .row
        .row
          .col.s12
            h5.header-style#studentAnalyticsHeader &nbsp Question Type Analytics
        .col.s12.m6
          h5 Your Points VS Class Points by Type
          .card.radar.padding-top-10.padding-left-10
            a.btn-floating.halfway-fab.waves-effect.waves-light.blue.right.activator
              i.material-icons.blue filter_list
            canvas#pointsPerTypeVsClass
            .card-reveal
                .card-title
                  i.material-icons.right close
                #pointsPerTypeVsClassTable
        .col.s12.m6
          h5 Your Accuracy VS Class Accuracy by Type
          .card.radar.padding-top-10.padding-left-10
            a.btn-floating.halfway-fab.waves-effect.waves-light.blue.right.activator
              i.material-icons.blue filter_list
            canvas#accuracyPerTypeVsClass
            .card-reveal
                .card-title
                  i.material-icons.right close
                #accuracyPerTypeVsClassTable

    .card.white.padding-left-10.padding-right-10
      .row
        .row
          .col.s12
            h5.header-style#studentAnalyticsHeader &nbsp Question Topic Analytics
        .col.s12.m6
          h5 Your Points VS Class Points by Topic
          .card.radar.padding-top-10.padding-left-10
            a.btn-floating.halfway-fab.waves-effect.waves-light.blue.right.activator
              i.material-icons.blue filter_list
            canvas#pointsPerTopicVsClass
            .card-reveal
                .card-title
                  i.material-icons.right close
                #pointsPerTopicVsClassTable
        .col.s12.m6
          h5 Your Accuracy VS Class Accuracy by Topic
          .card.radar.padding-top-10.padding-left-10
            a.btn-floating.halfway-fab.waves-effect.waves-light.blue.right.activator
              i.material-icons.blue filter_list
            canvas#accuracyPerTopicVsClass
            .card-reveal
                .card-title
                  i.material-icons.right close
                #accuracyPerTopicVsClassTable
