.row#student-analytics-card
  if (isAdmin())
    .container
      .row
        .col.s12
          .row
            .input-field.col.s12
              input#autocomplete-input.autocomplete(type='text')
              label(for='autocomplete-input') Autocomplete

  .col.s3
    canvas#questionsAnsweredVsClass
  .col.s3
    canvas#accuracyVsClass
  .col.s3
    canvas#pointsVsClass
  .col.s3
    canvas#ratingVsClass
