.row#student-analytics-card
  if (isAdmin())
    .container
      .row
        .col.s12
          .row
            .input-field.col.s12
              input#autocomplete-input.autocomplete(type='text')
              label(for='autocomplete-input') Select a student by ID

  .row
    .col.s6
      canvas#questionsAnsweredVsClass
    .col.s6
      canvas#accuracyVsClass
  .row
    .col.s6
      canvas#pointsVsClass
    .col.s6
      canvas#ratingVsClass
