#student-analytics-card
  .card.white.padding-left-10.padding-right-10
    .row
      .row
        .col.s12
          h5.header-style#studentAnalyticsHeader &nbsp Questions Answered Analytics
      .row.padding-left-10.padding-right-10
        .col.s12.m12
          h5 Your Questions Answered VS. Class Average Questions Answered
          .card.chart
            //-canvas#testingCanvas2
      .row.padding-left-10.padding-right-10
        .col.s12.m3
          .card#studentAnsweredCard
            .card-content.cyan-card.white-text
              .col.s7.m7
                i.material-icons.background-round.mt-5 playlist_add_check
                p Your Questions Answered
              .col.s5.m5.right-align.padding-right-10
                h5#studentAnswered
          .card#classAnsweredCard
            .card-content.cyan-card.white-text
              .col.s7.m7
                i.material-icons.background-round.mt-5 playlist_add_check
                p Class Average Questions Answered
              .col.s5.m5.right-align.padding-right-10
                h5#classAnswered
        .col.s12.m9
          h5 Your Questions Answered Ranking
          .card.chart.padding-top-10.padding-left-10
            //-canvas#testingCanvas1

  .card.white.padding-left-10.padding-right-10
    .row
      .row
        .col.s12
          h5.header-style#studentAnalyticsHeader &nbsp Accuracy Analytics
      .row.padding-left-10.padding-right-10
        .col.s12.m12
          h5 Your Accuracy VS. Class Average Accuracy
          .card.chart
            //-canvas#testingCanvas2
      .row.padding-left-10.padding-right-10
        .col.s12.m3
          .card#studentAccuracyCard
            .card-content.teal-card.white-text
              .col.s7.m7
                i.material-icons.background-round.mt-5 gps_fixed
                p Your Accuracy
              .col.s5.m5.right-align.padding-right-10
                h5#studentAccuracy
          .card#classAccuracyCard
            .card-content.teal-card.white-text
              .col.s7.m7
                i.material-icons.background-round.mt-5 gps_fixed
                p Class Average Accuracy
              .col.s5.m5.right-align.padding-right-10
                h5#classAccuracy
        .col.s12.m9
          h5 Your Accuracy Ranking
          .card.chart.padding-top-10.padding-left-10
            //-canvas#testingCanvas1

  .card.white.padding-left-10.padding-right-10
    .row
      .row
        .col.s12
          h5.header-style#studentAnalyticsHeader &nbsp Points Analytics
      .row.padding-left-10.padding-right-10
        .col.s12.m12
          h5 Your Points VS. Class Average Points
          .card.chart
            //-canvas#testingCanvas2
      .row.padding-left-10.padding-right-10
        .col.s12.m3
          .card#studentPointsCard
            .card-content.orange-card.white-text
              .col.s7.m7
                i.material-icons.background-round.mt-5 bubble_chart
                p Your Points
              .col.s5.m5.right-align.padding-right-10
                  h5#studentPoints
          .card#classPointsCard
            .card-content.orange-card.white-text
              .col.s7.m7
                i.material-icons.background-round.mt-5 bubble_chart
                p Class Average Points
              .col.s5.m5.right-align.padding-right-10
                  h5#classPoints
        .col.s12.m9
          h5 Your Points Ranking
          .card.chart.padding-top-10.padding-left-10
            //-canvas#testingCanvas1

  .card.white.padding-left-10.padding-right-10
    .row
      .row
        .col.s12
          h5.header-style#studentAnalyticsHeader &nbsp Points Per Attempt Analytics
      .row.padding-left-10.padding-right-10
        .col.s12.m12
          h5 Your Points Per Attempt VS. Class Average Points Per Attempt
          .card.chart
            //-canvas#testingCanvas2
      .row.padding-left-10.padding-right-10
        .col.s12.m3
          .card#studentPointsCard
            .card-content.purple-card.white-text
              .col.s7.m7
                i.material-icons.background-round.mt-5 bubble_chart
                p Your Points Per Attempt
              .col.s5.m5.right-align.padding-right-10
                  //-h5#studentPoints
          .card#classPointsCard
            .card-content.purple-card.white-text
              .col.s7.m7
                i.material-icons.background-round.mt-5 bubble_chart
                p Class Average Points Per Attempt
              .col.s5.m5.right-align.padding-right-10
                  //-h5#classPoints
        .col.s12.m9
          h5 Your Points Per Attempt Ranking
          .card.chart.padding-top-10.padding-left-10
            //-canvas#testingCanvas1

  .card.white.padding-left-10.padding-right-10
    .row
      .row
        .col.s12
          h5.header-style#studentAnalyticsHeader &nbsp Overall Score Analytics
      .row.padding-left-10.padding-right-10
        .col.s12.m12
          h5 Your Overall Score VS. Class Average Overall Score
          .card.chart
            //-canvas#testingCanvas2
      .row.padding-left-10.padding-right-10
        .col.s12.m3
          .card#studentPointsCard
            .card-content.lime-card.white-text
              .col.s7.m7
                i.material-icons.background-round.mt-5 bubble_chart
                p Your Overall Score
              .col.s5.m5.right-align.padding-right-10
                  //-h5#studentPoints
          .card#classPointsCard
            .card-content.lime-card.white-text
              .col.s7.m7
                i.material-icons.background-round.mt-5 bubble_chart
                p Class Average Overall Score
              .col.s5.m5.right-align.padding-right-10
                  //-h5#classPoints
        .col.s12.m9
          h5 Your Overall Score Ranking
          .card.chart.padding-top-10.padding-left-10
            //-canvas#testingCanvas1
