extends layout

block styles
  // link(rel='stylesheet' href='/css/login.css')

block title
  title Quizzard - Add User

block content
  .container
    form.form-user#userform
      h2.form-user-heading Add Account
      p#result
      label.sr-only(for='userid') Username
      input.form-control#userid(type='text' name='id' placeholder='Username'
                              required autofocus)
      label.sr-only(for='passwd') Password
      input.form-control#passwd(type='password' name='password'
                                placeholder='Password' required)
      label.sr-only(for='fname') First Name
      input.form-control#fname(type='text' name='fname' placeholder='First Name'
                                required)
      label.sr-only(for='lname') Last Name
      input.form-control#lname(type='text' name='lname' placeholder='Last Name'
                                required)
      label.sr-only(for='email') Email
      input.form-control#email(type='email' name='email' placeholder='Email'
                                required)
      button(class='btn btn-lg btn-primary btn-block' type='submit') Create

block scripts
  script(src='/lib/jquery/jquery-3.1.1.min.js')
  script(src='/js/usercreate.js')
