[type="checkbox"]+label{
    position:relative;
    padding-left:35px;
    cursor:pointer;
    display:inline-block;
    height:0px;
    line-height:25px;
    font-size:1rem;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

.accounts-menu-button{
    position: inherit !important;
    z-index: 1;
}

.select-wrapper span.caret {
    color: initial;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 10px;
    margin: auto 0;
    font-size: 20px;
    line-height: 10px;
}

.caret {
    display: inline-block;
    width: auto;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 0px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.input-field label {
    pointer-events: auto;
}

.alignTextLeft {
    text-align: left;
}

.hiddenEye {
    color: rgb(238, 110, 115);
    line-height: 0;
    display: flex;
    display: inherit;
}

.customSummernoteButton {
    background-color: #ffffff;
    color: #464646;
    padding: 0 0.5rem;
    margin: 0;
}

div.note-editor.note-frame.panel.panel-default{
    border: 1px solid #eaeaea;
    border-radius: 0px;
}

.customAdminButton {
    background-color: #ffffff;
    color: #464646;
    padding: 0 1rem;
    margin: 0;
}

.customSwitch {
    padding: 15px;
}

.customSettingsButton {
    padding: 0 0.5rem;
    margin: 0;
}

#questionform  button {
    margin-top: 10px;
}

td {
    word-break: break-all;
}

.tab-icon{
  vertical-align: middle;
  color: rgb(238, 110, 115);
}

@media
only screen and (max-width: 760px),
(min-device-width: 760px) and (max-device-width: 1024px) {

    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        word-break: break-all;
    }

    #questionsTable td:nth-of-type(2):before { content: "ID: "; font-weight: bold; }
    #questionsTable td:nth-of-type(3):before { content: "Title: "; font-weight: bold; }
    #questionsTable td:nth-of-type(4):before { content: "Topic: "; font-weight: bold; }
    #questionsTable td:nth-of-type(5):before { content: "Type: "; font-weight: bold; }

    #manageAcccountsTable td:nth-of-type(1):before { content: "Username: "; font-weight: bold; }
    #manageAcccountsTable td:nth-of-type(2):before { content: "First Name: "; font-weight: bold; }
    #manageAcccountsTable td:nth-of-type(3):before { content: "Last Name: "; font-weight: bold; }
    #manageAcccountsTable td:nth-of-type(4):before { content: "Email: "; font-weight: bold; }

    #studentStatisticsTable td:nth-of-type(1):before { content: "Username: "; font-weight: bold; }
    #studentStatisticsTable td:nth-of-type(2):before { content: "Questions Attempted: "; font-weight: bold; }
    #studentStatisticsTable td:nth-of-type(3):before { content: "Correct Answers: "; font-weight: bold; }
    #studentStatisticsTable td:nth-of-type(4):before { content: "Success Rate: "; font-weight: bold; }
    #studentStatisticsTable td:nth-of-type(5):before { content: "Points: "; font-weight: bold; }

    #questionsStatisticsTable td:nth-of-type(1):before { content: "ID: "; font-weight: bold; }
    #questionsStatisticsTable td:nth-of-type(2):before { content: "Title: "; font-weight: bold; }
    #questionsStatisticsTable td:nth-of-type(3):before { content: "Min Points: "; font-weight: bold; }
    #questionsStatisticsTable td:nth-of-type(4):before { content: "Max Points: "; font-weight: bold; }
    #questionsStatisticsTable td:nth-of-type(5):before { content: "Total Attempts: "; font-weight: bold; }
    #questionsStatisticsTable td:nth-of-type(6):before { content: "Correct Answers: "; font-weight: bold; }
    #questionsStatisticsTable td:nth-of-type(7):before { content: "Success Rate: "; font-weight: bold; }
    #questionsStatisticsTable td:nth-of-type(8):before { content: "First Answer: "; font-weight: bold; }
}
