#alert {
	background-color: white;
	max-width: 500px;
	max-height:375px;
	text-align: center;
	border-radius: 5px;
}

.modal-content{
	background-color: #fff;
	border: 0px;
	border-radius: 0px;
	outline: 0;
	box-shadow: 0 0px 0px;
	position: relative;
	height: 100%;
}

.modal-content h3 {
	color: #575757;
	font-weight: 600;
	font-size: 30px;
}

.modal-content p {
	color: #797979;
	font-size: 16px;
    font-weight: 300;
}

.modal-content button {
	vertical-align: bottom;
	background-color: #8CD4F5;
	box-shadow: none !important;
	margin-top: 5px;
	border-radius: 5px;
}

.modal-content button:hover {
	background-color: #86CCEB;
}