.cyan-card {
    background: #00bcd4;
    min-height: 125px !important;
}

.teal-card {
    background: #00bfa5;
    min-height: 125px !important;
}

.orange-card {
    background: #ff6e40;
    min-height: 125px !important;
}

.purple-card {
    background: #673AB7;
    min-height: 125px !important;
}

.lime-card {
    background: #CDDC39;
    min-height: 125px !important;
}

.cyanO {
    background: #00bcd4;
}

.tealO {
    background: #00bfa5;
}

.orangeO {
    background: #ff6e40;
}

.purpleO {
    background: #673AB7;
}

.limeO {
    background: #CDDC39;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-right-10 {
    padding-right: 10px;
}

.header-style {
    width: fit-content;
    background-color: #ee6e73;
    padding: 5px;
    color: white;
}

.chart {
    border-radius: 5px;
    box-shadow: 0px 2px 15px rgba(25, 25, 25, 0.27);
    height: 225px;
}

.radar {
    border-radius: 5px;
    box-shadow: 0px 2px 15px rgba(25, 25, 25, 0.27);
    height: 500px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}