.gradient-45deg-light-blue-cyan {
  background: #0288d1;
  background: -webkit-linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
  background: linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
  box-shadow: 0 6px 20px 0 rgba(38, 198, 218, 0.5);
  min-height: 125px !important;
}

.gradient-45deg-red-pink {
    background: #FF5252;
    background: -webkit-linear-gradient(45deg, #FF5252 0%, #f48fb1 100%);
    background: linear-gradient(45deg, #FF5252 0%, #f48fb1 100%);
    box-shadow: 0 6px 20px 0 rgba(244, 143, 177, 0.5);
    min-height: 125px !important;
}

.gradient-45deg-amber-amber {
    background: #ff6f00;
    background: -webkit-linear-gradient(45deg, #ff6f00 0%, #ffca28 100%);
    background: linear-gradient(45deg, #ff6f00 0%, #ffca28 100%);
    box-shadow: 0 6px 20px 0 rgba(255, 111, 0, 0.3);
    min-height: 125px !important;
}

.gradient-45deg-green-teal {
    background: #43A047;
    background: -webkit-linear-gradient(45deg, #43A047 0%, #1de9b6 100%);
    background: linear-gradient(45deg, #43A047 0%, #1de9b6 100%);
    box-shadow: 0 6px 20px 0 rgba(77, 182, 172, 0.5);
    min-height: 125px !important;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-right-10 {
    padding-right: 10px;
}
