.identification-section {
  margin-bottom: 0 !important;
}

.comment {
  text-align: left;
  background-color: white;
  border: solid;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: lightgray;
  margin: 2px !important;
}

.reply {
  text-align: left;
  float: right !important;
  background-color: white;
  margin: 0 !important;
}

.profile-picture {
  padding: 10px 10px 0 20px;
}

.name {
  vertical-align: super;
}

.comment-text {
  padding: 0 20px 0 50px;
  margin: 5px;
  text-align: left;
}

.divider {
  margin: 0 !important;
}

.likes-section {
  float: right;
  padding-right: 25px;
}

.thumb-up-picture {
  padding: 10px 5px;
}

.thumb-down-picture {
  padding: 10px 5px;
}

.reply-picture {
  padding: 10px 5px;
}

.likes-number {
  vertical-align: super;
  font-size: 20px;
}

.comment-box {
  margin: 10px !important;
  resize: vertical;
  min-height: 6em;
  width: -webkit-fill-available;
  border-radius: 5px;
  border-color: lightgray;
}

.comment-reply-button {
  float: right;
  margin-right: 10px;
}

.view-replies-button {
  float: right;
  margin-right: 10px;
}

.date {
  padding-left: 20px;
}

.cursor-pointer {
  cursor: pointer;
}

.liked {
  color: rgb(51, 102, 255);
}

.disliked {
  color: rgb(243, 13, 20);
}
