li {
    cursor: pointer;
}

.question-list-hover:hover {
    background-color: #ececec;
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.profile-picture {
    display: inline-flex;
    max-width: 60%;
    width: 150px !important;
    height: 150px !important;
    border-radius: 50%;
}

.firstFire{
    float: right;
    color: rgb(238, 110, 115);
}

.secondFire {
    color: rgb(252, 77, 86);
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.homeBtn {
    padding: 0 2.5rem;
}