.dropdown {
  margin-bottom: 10px;
}

.btn .caret {
  margin-left: 4px;
}

.question-list {
  max-height: 800px;
}

.no-questions {
  margin-top: 20px;
}

.leaderboard-sidebar {
  background-color: #fff;
}

