body {
  padding-top: 70px;
}

.container {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
}
