div.podium {
    display: inline-block;
    width: auto;
    text-align: center;
    padding: 35px;
}

div.podium p {
    margin-top: 0;
    color: #000000;
    font-size: 20px;
}

div.podium p span.score {
    font-weight: bold;
}

img#first {
    height: 250px !important;
    border-radius: 50%;
    padding-bottom: 10px;
}

img#second {
    height: 200px !important;
    border-radius: 50%;
    padding-bottom: 10px;
}

img#third {
    height: 150px !important;
    border-radius: 50%;
    padding-bottom: 10px;
}

ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ol {
    display: flex;
}

li {
    display: inline-block;
}

li.silver {
    order: -1;
}

.silver, .bronze {
    transform: scale(0.60);
}

.gold {
    font-weight: bold;
}

li img {
    display: inline-flex;
    max-width: 100%;
}

li.gold .score {
    background-color: rgba(255,215,0,0.7);
}

li.silver .score {
    background-color: rgba(192,192,192,0.7);
}

li.bronze .score {
    background-color: rgba(140,120,83,0.7);
}

.tab-icon{
  vertical-align: middle;
  color: rgb(238, 110, 115);
}
