.checkmark {
	width: 100px;
	margin: 0 auto;
	padding-top: 10px;
}
  
.path {
	stroke-dasharray: 1000;
	stroke-dashoffset: 0;
	animation: dash 2s ease-in-out;
	-webkit-animation: dash 2s ease-in-out;
}
  
.spin {
	animation: spin 2s;
	-webkit-animation: spin 2s;
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
}
  
@-webkit-keyframes dash {
	0% {
		stroke-dashoffset: 1000;
	}
	100% {
		stroke-dashoffset: 0;
	}
}
  
@keyframes dash {
	0% {
		stroke-dashoffset: 1000;
	}
	100% {
		stroke-dashoffset: 0;
	}
}
  
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
  
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
  
@-webkit-keyframes text {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
  
	
@keyframes text {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#modalAlert {
	background-color: white;
	max-width: 500px;
	max-height:375px;
	text-align: center;
	border-radius: 5px;
}

.modal-content{
	background-color: #fff;
	border: 0px;
	border-radius: 0px;
	outline: 0;
	box-shadow: 0 0px 0px;
	padding-bottom: 0px !important;
}

.modal-content h3 {
	font-family: 'open sans';
	color: #575757;
	font-weight: 600;
	font-size: 30px;
}

.modal-content p {
	font-family: 'open sans';
	color: #797979;
	font-size: 16px;
    font-weight: 300;
}

.modal-content button {
	vertical-align: bottom;
	background-color: #8CD4F5;
	box-shadow: none !important;
	margin-top: 15px;
	border-radius: 5px;
}

.modal-content button:hover {
	background-color: #86CCEB;
}