.navbarLink:link, .navbarLink:visited, .navbarLink:hover, .navbarLink:active {
  text-decoration: none;
  color: white;
}

.noLineLink:link, .noLineLink:visited, .noLineLink:hover, .noLineLink:active {
  text-decoration: none;
}

.navbarLinkHidden:link, .navbarLinkHidden:visited, .navbarLinkHidden:hover, .navbarLinkHidden:active {
  text-decoration: none;
  color: black;
}