.navbarLink:link, .navbarLink:visited, .navbarLink:hover, .navbarLink:active {
  text-decoration: none;
  color: white;
}

.noLineLink:link, .noLineLink:visited, .noLineLink:hover, .noLineLink:active {
  text-decoration: none;
}

.navbarLinkHidden:link, .navbarLinkHidden:visited, .navbarLinkHidden:hover, .navbarLinkHidden:active {
  text-decoration: none;
  color: black;
}

.icon-img {
  width: 60px !important;
  height: 60px !important;
  padding: 10px;
  border-radius: 50%;
}