ol { 
  /* list style is faked with number inputs */
  list-style: none;
  padding: 0;
}

#sortable li { 
    position: relative; 
    min-height: 1em;
    cursor: move;
    padding: .5em .5em .5em 2.5em;
    background: #eee;
    border: 1px solid #ccc;
    margin: .25em 0;
    border-radius: .25em;
}