.profile-picture {
  margin-top: 10px;
  position: inherit !important;
}

.profile-circle {
    width: 200px !important;
    height: 200px !important;
}

.picure-size {
    max-width: 200px;
    max-height: 200px;
}

.profile-list {
  right: 450px !important;
  top: calc(50% + 150px) !important;
}
