body {
  padding-top: 70px;
}

.form-question {
  max-width: 600px;
  padding: 15px;
  margin: 0 auto;
}

.qtext {
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

#answer {
  margin-bottom: 10px;
}
