.qtext {
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

#answer {
  margin-bottom: 10px;
}

.success {
  margin-top: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
}

#success-header {
  margin-bottom: 20px;
}

.form-question {
  text-align: left;
}

/*css for question lock*/
#lockQuestion{
  display: none;
}

#clockdiv{
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div{
  padding: 10px;
  margin-top: 0.25em;
  margin-right: 0.1em;
  margin-left: 0.1em;
  border-radius: 3px;
  background: #00BF96;
  display: inline-block;
}

#clockdiv div > span{
  padding: 15px;
  border-radius: 3px;
  background: #00816A;
  display: inline-block;
}

.smalltext{
  padding-top: 5px;
  font-size: 16px;
}