.row
  .col.s12
    .card.center
      .card-image
        a.btn-floating.halfway-fab.waves-effect.waves-light.red.left#account-export-complete-back-button
          i.material-icons arrow_back
      .card-content
        h5.card-title Export Job Completed
        h6 You can download the CSV file from the link below.
      .card-action
        a.waves-effect.waves-light.btn(href=file) 
          i.material-icons.left cloud_download
          | Download