.row
  .col.s12
    .card.center
      .card-image
        a.btn-floating.halfway-fab.waves-effect.waves-light.red.left#account-import-back-button
          i.material-icons arrow_back
      .card-content
        h5.card-title Accounts Import Form
        h6 Import the list of students' accounts from a csv file
      .card-action
        h5 hello world